@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>

<div class="pt-5"></div>
@if(Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="my-card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>
}

